body, select, input, textarea,#wpadminbar * {  
  font-family: “Helvetica Neue”, Arial, Helvetica, sans-serif;
}
.acf_postbox .field input[type="text"], .acf_postbox .field input[type="password"], .acf_postbox .field textarea, .acf_postbox .field select {
    padding: 2px;

}