/* @override 
	http://localhost/wp-content/themes/bioethics/css/inner.css
	http://bio.local/wp-content/themes/bioethics/css/inner.css
	http://bioethics/wp-content/themes/bioethics/css/inner.css */
	
	/* @group Structure */
	
	#page-content{
		margin-bottom: 25px;
	}
	#main-content h2.rss,h2.title{
		margin-bottom: 50px;
	}
	
	body.blog h2.rss span, body.archive h2.rss span,
	h2.title span{
		font-size: 16px;
		margin-left: 20px;
		text-transform: lowercase;
	}
	
	.meta {
	  margin: 2em 0;
	}

.black-text{
	color: #000 !important;
}
	
	/* @end */
	
	/* @group Post */

div.post img {
	border: 5px solid #f0f0f0;
}
div.post a {
	word-break: break-word;
}
div.post img.alignright,
div.post div.entry img.feature-img{
	float: right;
	margin: 0 0 20px 20px;
}
div.post img.alignleft{
	float: left;
	margin: 0 20px 20px 0;
}

div.entry ul,
div.entry ol{
	line-height: 2em;
	margin-bottom: 2em;
	font-size: 14px;
}
div.post div.meta{
	border: 1px solid #f0f0f0;
	border-width: 1px 0;
	padding: 0 0 5px;
	margin-bottom: 5px;
}
div.post div.meta p{
/*	font-size: 10px;
	margin: 0;
	padding-top: 5px;*/
}
div.post  .meta .syndicated_meta p{
	font-style: oblique;
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5em;
	/*background-color: #f0f0f0;*/
	/*padding: 5px;*/
}
div.post  .meta .syndicated_meta p span{
	font-weight: bold;
}
div.post div.sociable_tagline{
	display: none;
}

div.post.original_post {
	/*background-color: #e9eef9; *//*#f1f8fb;#e8f4fa*/
	/*border: 3px solid #d4dcfa;*/
}
/*div.post.original_post.category-featured {
	background-color: #dfedf8;
	padding-top: 30px;
}*/
div.post.original_post div.entry {
	padding-bottom: 30px;
}
div.post.original_post h3.post-title {
	border-bottom: 1px solid #ddd;
}
div.post.original_post div.meta {
	border: 1px solid #ddd;
	border-width: 1px 0;
}

/* @end */
/* @group Pagination */
#pagination{
	overflow: hidden;
	margin-bottom: 50px;
}
body.archive #pagination{
	overflow: visible;
}
span.nav-old a,
span.nav-new a{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
span.nav-old a,
span.nav-new a{
	color: #fff;
	text-transform: capitalize;
	text-shadow: -1px -1px 0 #31599a;
	margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #fff !important;
    user-select: none;
}
span.nav-old a{
	float: left;
}
span.nav-new a{
	float: right;
}
/* @end */
/* @group Sidebar */

div.sidebar ul li.widget{
	list-style: none;
	padding: 0;
	border-bottom: 2px solid #006db4;
	margin-bottom: 15px;
}
div.sidebar ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
div.sidebar li{
	list-style: none;
	margin: 0;
	padding: 0;
}
div.sidebar h2.widget-title {
	padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 2px solid #006db4;
    font-weight: bold;
    margin-top: 0px;
    font-size: 14px;
}
div.sidebar div.textwidget, div.sidebar div.tagcloud, li.widget_authors ul {
    flex: 1 1 auto;
    padding: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}


div.sidebar li#wysiwyg_widget-2 h2.widget-title{
	margin-top: 0;
}
div.sidebar ul#juiz_last_tweet_tweetlist{
	margin-right: 10px;
}
div.sidebar .juiz_last_tweet_inside{
	margin-left: -25px;
}

/* @end */
/* @group Posts in lists style */

body.post-type-archive-jobs a#subnav_current,
body.post-type-archive-events a#subnav_current,
body.page-template-submit-job-php a#subnav-submit,
body.page-template-submit-event-php a#subnav-submit
{
	color: #6F99DC;
}
/* @end */
/* @group Single Page items  */
h5.event_label,
h5.job_label{
	float: left;
	width: 90px;
}
.type-events div.row,
.type-jobs div.row{
	overflow: hidden;
	border-bottom: 1px solid #f0f0f0;
	padding: 10px 0;
	margin: 0;
}
.type-events div.row.last,
.type-jobs div.row.last{
	border-bottom-width: 0;
}
div.event_info,
div.job_info{
	float: left;
	
}
div.post .entry div.job_info.contact{
	line-height: 1.5;
}
div.post .entry div.job_info p{
	margin-bottom: 0;
	font-size: 14px;
}
#author-info {
	margin: 0  0 25px;
	padding: 25px 30px;
	background-color: #efefef;
}
#author-link {
	margin: 1em 0 0;
	font-weight: bold;
	font-family: FrancoisOneRegular, Impact, Haettenschweiler, 'Arial Narrow Bold', Helvetica, 'Helvetica Neue', Arial, sans-serif;
}
/* @end */
/* @group Hot Topics
 */
ul#type_list {
  font-size: 13px;
  list-style: none;
  position: absolute;
  top: 35px;
  left: 98px;
  right: 0;
  border-top: 1px solid #C2C2C2;
  padding-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
}
.search .totally_cheap_spacer{
	height: 40px;
}
.search ul#type_list {
	position: relative;
	top: auto;
	left: auto;
	margin: 10px 0 40px;
	padding-left: 0;
	border-top-width: 0;
}
.tag.archive ul#type_list {
	left: 40px;
}
ul#type_list li {
  display: inline-block;
  padding-top: 0;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 2px solid #131E58;
  line-height: 1em;
  font-family: FrancoisOneRegular, Impact, Haettenschweiler, 'Arial Narrow Bold', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
}
ul#type_list li:last-of-type {
  border-right-width: 0;
}
#child-list #hot-topics{
	overflow: hidden;
}
#child-list #hot-topics ul{
	width: 40%;
}
#child-list #hot-topics ul li a{
	font-size: 16px;
}
#child-list #hot-topics ul li ul,
#sidebar-resources #hot-topics ul li ul{
	display: block;
	width: 100%;
}
#child-list #hot-topics ul li ul a{
	font-size: 14px;
}
#child-list #hot-topics ul.column01{
	margin-left: 25px;
}
#sidebar-resources #hot-topics ul{
	width: 100%;
}
.widget_authors ul {
	margin-left: 0;
}
.widget_authors ul li {
	padding-bottom: .5em;
}
div.hot-links {
  position: relative;
}
div.hot-links h2.title {
  margin-bottom: 20px;
}
div.hot-links h2 span a{
	font-size: 18px;
  text-transform: uppercase;
}
div.hot-links h2 span a:hover{
	color: #6f99dc;
}
div.hot-links div.entry{
	margin-bottom: 20px;
	padding-bottom:  20px;
	border-bottom: 1px solid #eee;
	line-height: 1.5em;
}
div.hot-links div.entry p:last-child {
  margin-bottom: 0;
}
div.hot-links div.entry h5.date{
	text-transform: none;
}
div.hot-links div.entry h4.title{
	text-transform: uppercase;
	line-height: 1.25em;
	font-size: 16px;
	font-size: 1.6rem;
	margin-bottom: 0;
}
div.hot-links div.entry h4.title span{
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 16px;
	font-size:  1.6rem;
	text-transform: none;
}
div.hot-links h5.date{
	margin: 0;
	line-height: 1em;
}
div.hot-links p.more a{
	font-size: 15px;
}
div.hot-links div.subcats{
	margin-bottom: 40px;
	background-color: #efefef;
	padding: 10px;
}
div.hot-links div.subcats ul{
	overflow: hidden;
	list-style: none;
}
div.hot-links div.subcats ul li{
	float: left;
	width: 45%;
	margin: 10px 0;
	height: 2em;
}
div.entry.news h4.title span {
  color: #75a937;
}
.section p.more {
  margin-bottom: 20px;
}
/* @end */
/* @group Search Results */
div.page form#searchform {
	border: 1px solid #ccc;
	border-width: 1px 0;
	margin: 30px 0 0 0;
	padding: 10px 0;	
}

/* @end */
/* @group Comments Group */
div#dsq-content h3{
	font-size: 20px;
	font-size: 2.5rem;
	margin-top: 2em;
}
div#dsq-content .dsq-post-area h3{
	margin-top: 0;
}
/* @end */
/* @group About Pages*/
body.page-template-child-page-list-php h2.title,
body.page-template-about-php h2.title{
	margin-left: 275px;
}
.about-content{
	float: right;
	width: 600px;
	margin-right: 100px;
}
#page-content.about-content .post{
	width: 100%;
}

#page-content.about-content .post .entry{
	margin: 0;
}

/* @group About Sidebar */

#sidebar-about{
	float: left;
	width: 225px;
	margin: 0 0 50px;
	padding: 0;
	border-top: 3px solid #77aa3a;
	border-bottom: 3px solid #77aa3a;
/*	background-color: #e2e2e2;	*/
}
#sidebar-about ul{
	margin: 10px 0;
}
#sidebar-about ul li ul{
	margin: 0;
}
#sidebar-about ul li a{
	display: block;
	padding: 8px 10px;
	font-weight: bold;
	line-height: 1em;
	font-size: 16px;
}
#sidebar-about ul li ul li a{
	font-weight: normal;
	padding: 8px 20px;
	font-size: 14px;
}
#sidebar-about ul li.current-menu-item ul li a,
#sidebar-about ul li.current-page-ancestor ul li a{
	color: #131e58;
}
/*#about-nav li.current-menu-item:first-child a,
#about-nav ul li.current-page-ancestor a,
#about-nav ul li ul li.current-menu-item a,
#about-nav ul li.current-page-ancestor ul li.current-page-ancestor a{
	color: #000;
}*/

/* @end */

/* @group about child list page styles */
div#child-list {
	margin-bottom: 50px;
}
div#child-list .list-item{
	margin-bottom: 20px;
}
div#child-list .list-item-title{
	cursor: pointer;
	text-transform: capitalize;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;

}
div#child-list .list-item-title:active,
div#child-list .list-item-title:hover,
div#child-list div.list-item-text h4.list-item-title:hover,
div#child-list div.list-item-text h4.list-item-title:active {
	color: #6F99DC;
}
div#child-list .list-item-text{
	padding-left: 25px;
}
div#child-list div.list-item-text h4.list-item-title{
	text-transform: none;
	font-size: 14px;
	color: #131e58;
}
.about-content span.permalink {
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: oblique;
}
/* @end */

/* @end */

/* @group Subscribe form */
form#subForm div{
	margin-bottom: 1em;
}
form#subForm span.label,form#subForm span.spacer,form#subForm span.multiple span {
	width:120px;float:left;
} 
form#subForm span.multiple {float:left;} 
form#subForm span.button {
	padding-left:120px;
	padding: 0;
} 
form#subForm span.button input{
	border-width: 0;
	display: block;
	margin-left: 120px;
	color: #fff;
	width: 144px;
	height: 34px;
	background: transparent url(../images/btn-blue.png) left top no-repeat ;
	padding-top: 7px;
	text-align: center;
	font: 15px 'FrancoisOneRegular', Impact, Haettenschweiler, "Arial Narrow Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
	text-transform: uppercase;
}
form#subForm div.clear {clear:both;padding-top:5px;} 



/* @group Journal Nav */

#nav-journals{
	position: absolute;
	left: 362px;
	width: 790px;
	height: 220px;
	-webkit-border-radius: 0 0 12px 12px; 
	-moz-border-radius: 0 0 12px 12px; 
	border-radius: 0 0 12px 12px; 
	
	-webkit-box-shadow: 0px 2px 6px #999999; 
	-moz-box-shadow: 0px 2px 6px #999999; 
	box-shadow: 0px 2px 6px #999999; 
	
	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	z-index: 1;
	background: #fff url(../images/bg-body.png) repeat-x 0 -255px;
	overflow: hidden;
}

html.lt-ie9 #nav-journals{
	border: 1px solid #77787B;
}

#nav-journals div.close{
	position: absolute;
	right: 0;
	bottom: 180px;
	width: 60px;
	height: 35px;
	z-index: 10;
}
#nav-journals div.close a{
	font-family: "Adobe Garamond Pro", Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 18px;
	text-transform: lowercase;
}
#nav-journals > ul{
	margin: 0;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	list-style: none;
	z-index: 1;
	padding: 0;
}
#nav-journals > ul > li {
	width: 263px;
	float: left;
}
#nav-journals li div.journal-detail{
    margin: 0;
    width: 263px;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
#nav-journals li div.journal-detail h3{
	text-decoration: underline;
	margin-bottom: 5px;

}
#nav-journals li div.journal-detail h4{
	font-size: 12px;
	text-transform: capitalize;
	margin-bottom: 4px;
}
#nav-journals li div.journal-detail ul{
	width: auto;
	height: auto;
}
#nav-journals li div.journal-detail li{
	font-size: 11px;
}
#nav-journals li div.journal-detail.last{
	width: 264px;
}

#nav-journals li#link-ajob div.journal-detail:hover{
	-webkit-border-radius: 0 0 0 12px; 
	-moz-border-radius: 0 0 0 12px; 
	border-radius: 0 0 0 12px; 
}
#nav-journals li#link-ajob_pr div.journal-detail:hover{
	-webkit-border-radius: 0 0 12px 0; 
	-moz-border-radius: 0 0 12px 0;
	border-radius: 0 0 12px 0;
}
#nav-journals li div.journal-detail:hover{
	background: #dee8f7 url(../images/bg-body.png) repeat-x 0 -255px;
}
#nav-journals li li{
	width: auto;
}

.wp-caption {
	width: auto !important;
}

@media (max-width: 680px) {
	.share, .share .share_text {
		float: none !important; 
	} 
	.post a[imageanchor] {
		float: none !important;
		display: block;
		text-align: center;
	}
}

.wp-caption img, .post img, div.post img, div.post video {
	width: auto;
	max-width: 100% !important;
	height: auto !important;
}


iframe, img, #commentform textarea {
  max-width: 100%;
}



.blogs-landing div a img, #blog-list1 div a img {
	display: block;
    margin-bottom: 1em;
    margin-left: 1em;
}

.grey-btn {
	background-color: #c2c2c2 !important;
}

@media screen and (max-width: 1080px) {
  	.blog-card div.post img.alignleft {
		float: none;
		display: block;
		margin: 0;
		width: 100%;
	}
}

.addtoany_shortcode {
	display: inline-block;
}

@media (min-width: 768px) {
  .jobs-card-wrapper {
    height: 185px;
    max-height: 350px;
    overflow: hidden;
    margin-bottom: 10px;
    display: inline-block;
  }
}
@media (min-width: 768px) and (max-width: 1080px) {
  	.jobs-card-wrapper {
    	height: 185px;
    }
}

.tcu-imageWrapper img {
  max-width: 100% !important;
}

#twitter-widget-0 {
  width: 100% !important; 
  max-width: 100% !important;
}
/* @end */