
#journalCarousel {
  margin-bottom: 15px;
  border: 1px solid #e8e8e8; }
  #journalCarousel .list-group {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 0; }
    #journalCarousel .list-group .active {
      background-color: #93BD60;
      color: #FFF;
      outline: none; }
  #journalCarousel .list-group-item {
    background-color: #006db4;
    color: #fff;
    border-radius: 0px;
    cursor: pointer;
    border: 0px solid; }
    #journalCarousel .list-group-item h4 {
      font-size: 14px;
      margin: 0;
      margin-top: 10px; }
  #journalCarousel .journal .journal-cover {
    float: left;
    padding: 15px; }
  #journalCarousel .journal img {
    height: 175px; }
  #journalCarousel .journal .featured-description {
    text-align: center;
    position: relative;
    top: 60px; }
    #journalCarousel .journal .featured-description h5 {
      font-weight: bold; }
  #journalCarousel .carousel-controls .fa {
    position: relative;
    top: 48%; }
  #journalCarousel .carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
    background-repeat: repeat-x; }
  #journalCarousel .carousel-control.left {
    left: 0;
    right: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.1) 100%);
    background-repeat: repeat-x; }

.journal-links {
  font-weight: bold;
  margin-right: 5px;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 14px; }