/******* Rounded Corner *********/

.service-box{
	border: 1px solid #d3d3d3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	-webkit-box-shadow: #d3d3d3 0px 0px 3px;
	-moz-box-shadow: #d3d3d3 0px 0px 3px;
	box-shadow: #d3d3d3 0px 0px 3px;
	behavior: url(/PIE.htc);
}


.project-box{
	border: 1px solid #d3d3d3;
	-webkit-box-shadow: #d3d3d3 0px 0px 3px;
	-moz-box-shadow: #d3d3d3 0px 0px 3px;
	box-shadow: #d3d3d3 0px 0px 3px;
	behavior: url(/PIE.htc);
}